body {
    background-color: #f5f5f550; /* אפור בהיר */
    font-family: 'Arial', sans-serif; /* גופן מקצועי */
    margin: 0;
    padding: 0;
  }
  
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  .building-image {
    width: 80%;  /* תופס את כל הרוחב */
    height: 115%; /* תופס את כל גובה המסך */
    background-repeat: no-repeat;
    /* object-fit: contain; שומר על יחס הגובה-רוחב של התמונה */
    /* object-position: left center; ממקם את התמונה בצד שמאל ובמרכז הגובה */

    background-size: cover; /* שומר על יחס הגובה-רוחב של התמונה */
    /* background-position: left center; ממקם את התמונה בצד שמאל ובמרכז הגובה */
    margin-left: 30rem;
    margin-top: -8rem;
    background-image: url('../../public/picture/לוגו.png')  ;
    
 
}
  .left-side {
    width: 50%;
    
    flex: 1; /* תופס את כל הרוחב */
   margin-left: -500px; /* display: flex; */
    justify-content: flex-start; /* ממקם את התמונה בצד שמאל */
    align-items: flex-start; /* ממקם את התמונה למעלה */
    height: 100vh; /* גובה מלא של העמוד */
  }
  
  /* .building-image {
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }
   */
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search-button, .add-button {
    background-color: #4CAF50; /* ירוק בהיר */

    transition: background-color 0.3s ease, transform 0.2s ease; /* אפקט שינוי צבע ותנועה */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover, .add-button:hover {
    background-color: #45a049; /* ירוק כהה */
  transform: translateY(-3px); /* הרמה קלה של הכפתור */
  }
  
  .add-button {
    background-color: #007bff; /* כחול בהיר */
}
  
  .add-button:hover {
    background-color: #0056b3; /* כחול כהה */
    transform: translateY(-3px); /* הרמה קלה של הכפתור */  }
  
  